body {
    background-color: #f4f3ee;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #463f3a;
    margin: 0;
    padding: 0;
}



/* Nav Bar */

nav {
    display: flex;
}

nav ol {
    list-style-type: none;
    display: flex;
    margin: 2vw 0vw 0 0;
}

nav ol a {
    text-decoration: none;
    color: #f4f3ee;
    text-shadow: 0 0 1vw #463f3a, 0 0 .5vw #463f3a;
}

nav ol li {
    margin: 0 3vw;
    background-color: #bcb8b1;
    box-shadow: -.5vw .5vw 0 #e0afa0;
    padding: 1.5vw 3vw;
    height: auto;
}

nav ol li:hover {
    background-color: #8a817c;
}

nav .logo {
    background-color: #f4f3ee;
    background-image: url('images/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 9vw;
    height: 5vw;
    box-shadow: none;
    margin: 2.5vw 2vw 0 0vw;
    position: absolute;
    right: 0;
}


/* Social Media Icons */
#fb {
    background-image: url('images/fb.png');
}

#ig {
    background-image: url('images/ig.png');
}

#yt {
    background-image: url('images/yt.png');
}

.icon {
    display: block;
    margin: 0 2vw 0 0;
    width: 5vw;
    height: 5vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10vw;
}

.icon:hover {
    box-shadow: 0 0 2vw #463f3a, 0 0 1vw #463f3a;
}

/* Footer */

footer {
    background-color: #8a817c;
    height: auto;
    color: white;
    text-align: center;
    margin: 3vh 0 0 0;
    padding: 3vw 0 1vw 0;
    font-size: 1.5vw;
}

.footerContainer {
    display: flex;
}

footer .pages {
    width: 60vw;
}

footer .pages ul {
    list-style-type: none;
    text-align: center;
}

footer .pages ul a {
    text-decoration: none;
    color: white;
}

footer .info {
    margin: 0;
}

footer .info h2 {
    margin: 0;
    font-size: 1.5vw;
}

footer .info .contact {
    text-align: left;
    margin: 0 0 2vw 0;
}

footer .info ul a {
    color: white;
}


footer .info .socials {
    display: flex;
    margin: 0;
}

footer .info li {
    font-size: 1.2vw;
    margin: 0 1vw;
}



footer .pages ul a:hover {
    color: #463f3a;
    text-decoration: underline;
}

footer p {
    text-align: center;
}